.circle {
  height: 25px;
  width: 25px;
  background-color: #4d0000;
  border-radius: 50%;
}
.afterClick_circle {
  height: 25px;
  width: 25px;
  background-color: #ff3333;
  border-radius: 50%;
  box-shadow: 1px 1px 2px red, 0 0 20px red, 0 0 3px red;
}
